<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>OCR Upload</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body
    class="bg-gradient-to-br from-blue-50 to-indigo-100 min-h-screen flex items-center justify-center p-6"
  >
    <div class="gap-10 w-full max-w-6xl">
      <!-- PDF PHOTO SIGN SECTION -->
      <div class="bg-white rounded-2xl shadow-xl p-8">
        <h2 class="text-2xl font-bold text-center text-gray-700 mb-6">
           Generate Form Files
        </h2>

        <div class=" items-center w-full" >
          <label class="font-medium text-gray-600">Enter API Key</label>
          <input
            type="text"
            id="api_key"
            class="m-2 block w-full border rounded-lg p-2 bg-gray-50"
            placeholder="Enter your API key here"
          />
          <button
            class="font-bold font-medium text-center border-2 p-2 m-2 rounded-lg mx-auto"
            onclick="handleAPIKey()"
          >
            Save
          </button>
          
        </div>
        <form id="uploadform" class="space-y-4">
          <div>
            <label class="font-medium text-gray-600">Upload PDF</label>
            <input
              type="file"
              id="pdf"
              class="mt-1 block w-full border rounded-lg p-2 bg-gray-50"
            />
          </div>

          <div>
            <label class="font-medium text-gray-600">Upload Photo</label>
            <input
              type="file"
              id="photo"
              class="mt-1 block w-full border rounded-lg p-2 bg-gray-50"
            />
          </div>

          <div>
            <label class="font-medium text-gray-600">Upload Signature</label>
            <input
              type="file"
              id="sign"
              class="mt-1 block w-full border rounded-lg p-2 bg-gray-50"
            />
          </div>

          <select
            name="form_typee"
            id="form_typee"
            class="w-full border rounded-lg p-2 bg-gray-50"
          >
            <option value="new">New Form</option>
            <option value="correction">Correction</option>
            <option value="utiNew">UTI NEW</option>
            <option value="utiCorrection">UTI CORRECTION</option>
          </select>

          <button
            type="submit"
            class="w-full bg-red-500 hover:bg-red-600 text-white py-2 rounded-lg font-semibold shadow"
          >
            ⬇ Download ZIP
          </button>
        </form>
      </div>
    </div>

    <script>
      let form_typee = document.getElementById("form_typee");
      document.getElementById("uploadform").addEventListener("submit", (e) => {
        e.preventDefault();
        let formdata = new FormData();
        formdata.append("pdf", document.getElementById("pdf").files[0]);
        formdata.append("photo", document.getElementById("photo").files[0]);
        formdata.append("sign", document.getElementById("sign").files[0]);

        if (form_typee.value == "correction") {
          fetch("/convertCorrection", {
            method: "POST",
            body: formdata,
          })
            .then((response) => response.blob())
            .then((blob) => {
              const url = window.URL.createObjectURL(blob);
              const a = document.createElement("a");
              a.href = url;
              a.download = "output.zip";
              document.body.appendChild(a);
              a.click();
              a.remove();
            });
        } else if (form_typee.value == "utiNew") {
          fetch("/utiNewPanCard", {
            method: "POST",
            body: formdata,
          })
            .then((response) => response.blob())
            .then((blob) => {
              const url = window.URL.createObjectURL(blob);
              const a = document.createElement("a");
              a.href = url;
              a.download = "output.zip";
              document.body.appendChild(a);
              a.click();
              a.remove();
            });
        }else if(form_typee.value == "utiCorrection"){
          fetch("/utiCorrection", {
            method: "POST",
            body: formdata,
          })
            .then((response) => response.blob())
            .then((blob) => {
              const url = window.URL.createObjectURL(blob);
              const a = document.createElement("a");
              a.href = url;
              a.download = "output.zip";
              document.body.appendChild(a);
              a.click();
              a.remove();
            });}
         else {
          fetch("/convert", {
            method: "POST",
            body: formdata,
          })
            .then((response) => response.blob())
            .then((blob) => {
              const url = window.URL.createObjectURL(blob);
              const a = document.createElement("a");
              a.href = url;
              a.download = "output.zip";
              document.body.appendChild(a);
              a.click();
              a.remove();
            });
        }
      });

      const handleAPIKey = () =>{
        const apiKey = document.getElementById("api_key").value;
        const res = fetch("/bg_api_key", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ api_key: apiKey }),
        })
        localStorage.setItem("apiKey", apiKey);
      }

      window.onload = () => {
        const savedKey = localStorage.getItem("apiKey");
        if(savedKey){
          document.getElementById("api_key").value = savedKey;
        }
      }
    </script>

  
  </body>
</html>
